@import '../../../GlobalStyles/GlobalStyles.scss';

.sidebar{
    background: $bg-color-btn;
    display: flex;
    flex-direction: column;

    width: 250px;
    height: 90vh;
    padding-top: 2rem;

    transition: transform 0.2s ease-in;

    &-account{
        display: block;
        margin-bottom: 2.5rem;
        justify-content: space-around;
        align-items: center;
        img{
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
        .typo{
            text-align: center;
        }
    }

    li{
        display: flex;
        align-items: center;

        padding: 0.6rem 1.5rem;
        margin: 0.2rem;
        cursor: pointer;

        span{
            margin-left: 1rem;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.5px;
        }
        &:hover{
            background-color: #ffa754;
        }
    }
    hr{
        background-color: $border-color;
    }
    &.open{
        transform: translateX(0);
    }
}

@media (max-width: $breakpoint-medium) {
    .sidebar{
        width: 90px;
    }
    li{
        justify-content: center;
    }
    span{
        display: none;
    }
}

@media (max-width: $breakpoint-small) {
    .sidebar{
        transform: translateX(-100%);
        position: fixed;
        z-index: 999;
    }
}