@import '../../../GlobalStyles/GlobalStyles.scss';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    width: 100%;

    &-logo{
        width: 100px;
        height: 37px;
        object-fit: contain;
        display: block;
    }
    form{
        width: 450px;
        height: 25px;
        font-weight: 500;
        display: flex;
        border: 1px solid;
        border-radius: 30px;
        margin: 0.1rem;
        padding: 0.1rem;
        padding-left: 1rem;
        background-color: $bg-color-sub;

        input{
            width: 100%;
            border: none;
            background: transparent;
            color: $text-color;

            &:focus{outline: none;}
        }

        button{
            border-radius:0 30px 30px 0  ;
        }
    }
}